.homeContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 100px;
  padding-left: 100px;
  margin-right: 100px;
  grid-row-gap: 20px;
}

.homeImg {
  border-radius: 20px;
  width: 220px;
  height: auto;
  background-color: white;
  border-style: none;
  padding: 10px 10px 10px 10px;
  z-index: -200px;
  repeat: (auto-fill, minmax(250px,1fr))

}

.homeImg:hover {
  background-color: #efefef;
  border-radius: 10px;
  border-style: none;
  padding: 8px 8px 8px 8px;
  opacity: 0.5;
  background:rgba(0,0,0,0.6);


}
